.Character {
  width: 100%;
  height: 250px;
  border-radius: 10px 50px;
  padding: 16px 32px;

  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;

  .C__Img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
  }

  .C__Info {
    padding: 32px;

    display: flex;
    flex-direction: column;

    .CI__Title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.1em;
    }

    .CI__Description {
      margin-top: 32px;
      font-size: 1.4rem;
      line-height: 1.1;
    }
  }


}
