.Info {
  color: #212121;

  margin: 16px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .I__Title {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3rem;
  }

  .I__Results {
    font-size: 1.5rem;
  }
}

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
