.Footer {
  width: 100%;
  height: 80px;
  background-color: #202020;
  color: #fff;
  margin-top: 32px;

  .F__Itens {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
