.Character {
  width: 100%;
  margin: 50px 0 -200px;
}

.Main {
  margin-top: 32px;

  .M__Info {
    width: 100%;
    margin-top: 100px;

    color: #212121;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .MI__Title {
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 3rem;
    }

    .MI__Results {
      font-size: 1.5rem;
      line-height: 1em;
    }
  }
}
